<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd  http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- Configure annotated beans -->
	<context:annotation-config />
	<context:component-scan base-package="co.com.tactusoft.crm" />

	<tx:annotation-driven order="1"
		transaction-manager="transactionManager" />
	<tx:annotation-driven order="2"
		transaction-manager="transactionManagerSAP" />

	<!-- Datasource -->

	<bean id="dataSourceDefault" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://rds-aportar.c3evlxyrnoia.us-east-1.rds.amazonaws.com/crm_db" />
		<property name="user" value="aportardb" />
		<property name="password" value="Aportar100%" />
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="acquireIncrement" value="1" />
		<property name="idleConnectionTestPeriod" value="100" />
		<property name="maxStatements" value="0" />
		<property name="checkoutTimeout" value="60000" />
	</bean>

	<bean id="dataSourceDefault1" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://192.168.1.89/crm_db" />
		<property name="user" value="crmapp" />
		<property name="password" value="lukro9753" />
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="5" />
		<property name="acquireIncrement" value="1" />
		<property name="idleConnectionTestPeriod" value="100" />
		<property name="maxStatements" value="0" />
		<property name="checkoutTimeout" value="60000" />
	</bean>

	<bean id="dataSourceDefaultSAP" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="org.postgresql.Driver" />
		<property name="jdbcUrl" value="jdbc:postgresql://192.168.1.50:5432/adempiere" />
		<property name="user" value="adempiere" />
		<property name="password" value="lukro9753" />
		<property name="minPoolSize" value="5" />
		<property name="maxPoolSize" value="20" />
		<property name="acquireIncrement" value="1" />
		<property name="idleConnectionTestPeriod" value="100" />
		<property name="maxStatements" value="0" />
		<property name="checkoutTimeout" value="60000" />
	</bean>

	<!-- Hibernate -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceDefault" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hibernate.format_sql">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">create-drop</prop> -->
			</props>
		</property>
		<property name="packagesToScan" value="co.com.tactusoft.crm.model.entities" />
	</bean>

	<bean id="sessionFactorySAP"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceDefaultSAP" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hibernate.format_sql">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">create-drop</prop> -->
			</props>
		</property>
		<property name="packagesToScan" value="co.com.tactusoft.crm.model.entities" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="transactionManagerSAP"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactorySAP" />
	</bean>
</beans>
