<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="false" entry-point-ref="authenticationEntryPoint"
		access-denied-page="/pages/public/accessDenied.jsf"
		access-decision-manager-ref="affirmativeBased">


		<custom-filter position="FORM_LOGIN_FILTER"
			ref="usernamePasswordAuthenticationFilter" />
		<custom-filter before="ANONYMOUS_FILTER" ref="anonymousAuthFilter" />
		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor" />

		<session-management>
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="false" expired-url="/pages/public/expired.jsf" />
		</session-management>

	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="ldapAuthProvider" />
		<authentication-provider ref="daoAuthenticationProvider" />
	</authentication-manager>

	<beans:bean id="daoAuthenticationProvider"
		class="co.com.tactusoft.crm.security.DaoAuthenticationProviderCustom">
		<beans:property name="userDetailsService" ref="userDetailsService" />
		<beans:property name="passwordEncoder" ref="passwordEncoder" />
	</beans:bean>

	<beans:bean id="userDetailsService"
		class="co.com.tactusoft.crm.security.UserDetailsServiceCustom" />

	<beans:bean id="authenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/pages/public/login.jsf" />
	</beans:bean>

	<beans:bean id="concurrencyFilter"
		class="org.springframework.security.web.session.ConcurrentSessionFilter">
		<beans:constructor-arg name="sessionRegistry"
			ref="sessionRegistry" />
		<beans:constructor-arg name="expiredUrl"
			value="/pages/public/expired.jsf" />
	</beans:bean>

	<beans:bean id="usernamePasswordAuthenticationFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<beans:property name="sessionAuthenticationStrategy"
			ref="sas" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
	</beans:bean>

	<beans:bean id="sas"
		class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<beans:constructor-arg name="sessionRegistry"
			ref="sessionRegistry" />
		<beans:property name="maximumSessions" value="1" />
		<beans:property name="exceptionIfMaximumExceeded"
			value="true" />
	</beans:bean>

	<beans:bean id="sessionRegistry"
		class="org.springframework.security.core.session.SessionRegistryImpl" />

	<beans:bean id="rememberMeFilter"
		class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<beans:property name="rememberMeServices" ref="rememberMeServices" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
	</beans:bean>

	<beans:bean id="anonymousAuthFilter"
		class="org.springframework.security.web.authentication.AnonymousAuthenticationFilter">
		<beans:property name="key" value="crm123" />
		<beans:property name="userAttribute" value="anonymousUser,ROL_ANONYMOUS" />
	</beans:bean>

	<beans:bean id="affirmativeBased"
		class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:property name="allowIfAllAbstainDecisions"
			value="false" />
		<beans:property name="decisionVoters">
			<beans:list>
				<beans:bean class="org.springframework.security.access.vote.RoleVoter">
					<beans:property name="rolePrefix">
						<beans:value></beans:value>
					</beans:property>
				</beans:bean>
				<beans:bean
					class="org.springframework.security.access.vote.AuthenticatedVoter" />
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean id="securityMetadataSourceCustom"
		class="co.com.tactusoft.crm.security.SecurityMetadataSourceCustom" />

	<beans:bean id="filterSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="accessDecisionManager" ref="affirmativeBased" />
		<beans:property name="securityMetadataSource" ref="securityMetadataSourceCustom" />
	</beans:bean>

	<beans:bean id="rememberMeServices"
		class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
		<beans:property name="userDetailsService" ref="userDetailsService" />
		<beans:property name="key" value="crm123" />
		<beans:property name="tokenValiditySeconds" value="0" />
	</beans:bean>

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.authentication.encoding.Md5PasswordEncoder">
	</beans:bean>

	<!-- *************ldap**************** -->

	<!-- <beans:bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource"> 
		<beans:constructor-arg value="ldap://192.168.1.8:389/dc=naturizza,dc=net" 
		/> <beans:property name="userDn" value="tactusoft@naturizza.net" /> <beans:property 
		name="password" value="apache2012" /> </beans:bean> -->

	<beans:bean id="contextSource"
		class="co.com.tactusoft.crm.security.ldap.LdapContextSourceCustom" />

	<beans:bean id="ldapAuthProvider"
		class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
		<beans:constructor-arg>
			<beans:bean
				class="org.springframework.security.ldap.authentication.BindAuthenticator">
				<beans:constructor-arg ref="contextSource" />
				<beans:property name="userSearch" ref="ldapUserSearch" />
			</beans:bean>
		</beans:constructor-arg>
		<beans:constructor-arg ref="authoritiesPopulator" />
		<beans:property name="userDetailsContextMapper" ref="ldapUserDetailsMapperCustom" />
	</beans:bean>

	<beans:bean id="ldapUserSearch"
		class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
		<beans:constructor-arg index="0" value="" />
		<beans:constructor-arg index="1"
			value="sAMAccountName={0}" />
		<beans:constructor-arg index="2" ref="contextSource" />
	</beans:bean>

	<beans:bean id="authoritiesPopulator"
		class="org.springframework.security.ldap.userdetails.DefaultLdapAuthoritiesPopulator">
		<beans:constructor-arg ref="contextSource" />
		<beans:constructor-arg value="cn=Users" />
		<beans:property name="groupRoleAttribute" value="cn" />
		<beans:property name="convertToUpperCase" value="true" />
		<beans:property name="searchSubtree" value="true" />
	</beans:bean>

	<beans:bean id="ldapUserDetailsMapperCustom"
		class="co.com.tactusoft.crm.security.ldap.LdapUserDetailsMapperCustom">
	</beans:bean>

</beans:beans>