/* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 1150px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: white;
}

#content {
	display: table;
	border-width: 10px;
}

#mainContent {
	display: table-cell;
	width: 1150px;
	padding-right: 22px;
}

.ui-panel-titlebar {
	font-size: 18px;
	color: blue;
	font-weight: bold;
}

/* begin Button */
.rco-button-wrapper a.rco-button,.rco-button-wrapper a.rco-button:link,.rco-button-wrapper input.rco-button,.rco-button-wrapper button.rco-button
	{
	text-decoration: none;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	position: relative;
	top: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	color: #185468 !important;
	width: auto;
	outline: none;
	border: none;
	background: none;
	line-height: 33px;
	height: 33px;
	margin: 0 !important;
	padding: 0 16px !important;
	overflow: visible;
	cursor: default;
}

.rco-button img,.rco-button-wrapper img {
	margin: 0;
	vertical-align: middle;
}

.rco-button-wrapper {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	height: 33px;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
	margin: 0;
	padding: 0;
	z-index: 0;
}

.firefox2 .rco-button-wrapper {
	display: block;
	float: left;
}

input,select,textarea {
	vertical-align: middle;
	font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
	font-size: 13px;
}

.rco-block select {
	width: 96%;
}

.rco-button-wrapper.hover .rco-button,.rco-button-wrapper.hover a.rco-button:link,.rco-button:hover
	{
	color: #DADBD6 !important;
	text-decoration: none !important;
}

.rco-button-wrapper.active .rco-button,.rco-button-wrapper.active a.rco-button:link
	{
	color: #000000 !important;
}

.rco-button-wrapper .rco-button-l,.rco-button-wrapper .rco-button-r {
	display: block;
	position: absolute;
	height: 109px;
	margin: 0;
	padding: 0;
	background-image: url('../images/button.png');
}

.rco-button-wrapper .rco-button-l {
	left: 0;
	right: 14px;
}

.rco-button-wrapper .rco-button-r {
	width: 417px;
	right: 0;
	clip: rect(auto, auto, auto, 403px);
}

.rco-button-wrapper.hover .rco-button-l,.rco-button-wrapper.hover .rco-button-r
	{
	top: -38px;
}

.rco-button-wrapper.active .rco-button-l,.rco-button-wrapper.active .rco-button-r
	{
	top: -76px;
}

.rco-button-wrapper input {
	float: none !important;
}

.width250per {
	width: 250px;
}

/* end Button */
.width15per {
	padding: 4px;
	width: 15%;
}

.width20per {
	padding: 4px;
	width: 20%;
}

.width25per {
	padding: 4px;
	width: 25%;
}

.width35per {
	padding: 4px;
	width: 35%;
}

.width50per {
	padding: 4px;
	width: 50%;
}

.width60per {
	padding: 4px;
	width: 60%;
}

.width65per {
	padding: 4px;
	width: 65%;
}

.width70per {
	padding: 4px;
	width: 70%;
}

.width75per {
	padding: 4px;
	width: 75%;
}

.width80per {
	padding: 4px;
	width: 80%;
}

.width50perLeft {
	padding: 4px;
	width: 50%;
	text-align: left;
}

.width50perRight {
	padding: 4px;
	width: 50%;
	text-align: right;
}

.mypanelgrid td {
	border-style: none !important;
	padding: 2px 2px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 96% !important;
}

.style_no_available {
    background-color: yellow;
}

.remove-all-border {
   border: none;
}